<div class="row">
    <div class="col-md-6 mx-auto">
       <div class="card card-body">
           <img class="logo" src="/images/img6.jpg">
           <h3 class="text-center">Account Login</h3>

            

           <form action="/abc">
               <div class="form-group">
                   <lable for="email"></lable>
                   <input type="email" class="form-control" placeholder="Email address" > 
               </div>
               <div class="form-group">
                   <lable for="password"></lable>
                   <input type="password" class="form-control" placeholder="Password" > 
               </div>
               <div class="B">
                    <button type="submit" class="btn btn-primary col-xs-6 col-sm-4">Log In</button>
               </div>
                <div class="A">
				    <a class="navbar-brand" href="#"><label class="col-form-label col-form-label-sm" id="F" for="inputSmall">Forget password?</label></a>
			    </div>
           </form>

         

       </div> 
    </div>
</div>